body {
  font-family: 'Sixtyfour';
  text-align: center;
  background-color: rgb(156, 165, 107);
  background-image: url(j2.gif);
h3{
  color: rgb(0, 0, 0)
}
h4{
  color: rgb(0, 0, 0)
}
h6{
  color: rgb(0, 0, 0)
}
h5{
  color: rgb(0, 0, 0)
}
#zamykanie{
  position: relative;
  top: -151px;
  left: 32px;
}
#otwieranie{
  position: relative;
  top: -17px;
  left: -250px;
}
#l{
  position: relative;
  top: 5px;
  left: 95px;

}


